<footer class="homefooter bg-light text-center text-lg-start fixed-bottom shadow-custom w-100 d-flex justify-content-between ">
  <!-- Copyright -->
  <div class="p-2 ms-5">
    <span class="px-2"> © 2020 Copyright: </span>
    <span class="px-2">· Privacy</span>
    <span class="px-2">· Terms</span>
    <span class="px-2">· Sitemap</span>
    <span class="px-2">· Company details</span>
    <span class="px-2">· Destinations</span>
  </div>
  <div class="p-2" style="background-color: #ffffff">
    <span class="px-2"> English (IN)</span>
    <span class="px-2"> ₹ INR</span>
    <a class="me-5" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      Support & resources
    </a>
  </div>
  <!-- Copyright -->
</footer>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-body">
    <div>
      <footer class="text-center text-lg-start bg-light text-muted">

        <section class=" border-bottom">
          <div class="container text-center text-md-start">
            <!-- Grid row -->
            <div class="row mt-1">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto ">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold ">
                  Support
                </h6>
                <p>
                  <a href="#!" class="text-reset">Help Center</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">AirCover</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Cancellation options</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Our COVID-19 Response</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto ">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold ">
                  Community
                </h6>
                <p>
                  <a href="#!" class="text-reset">Airbnb.org:disaster relief</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Combating discrimination</a>
                </p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto ">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold ">
                  Hosting
                </h6>
                <p>
                  <a href="#!" class="text-reset">Airbnb your home</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">AirCover for Hosts</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Explore hosting resources</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Visit our community forum</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 ">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold ">Airbnb</h6>
                <p>
                  <a href="#!" class="text-reset">Newsroom</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Learn about new features
                  </a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Letter from our founders</a>
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
      </footer>
    </div>

  </div>
</div>